.add-block-wrapper {
    padding: 10px 15px;
    margin-top: auto;
    background-color: #ececec;
    border: 1px solid lightgray;
}

.add-block-section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.add-block-section:not(:last-child) {
    margin-bottom: 10px;
}

.add-block__in-stock {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 7px;
    border-radius: 3px;
}