.app-footer-wrapper {
    width: 100%;
    background-color: var(--footer-main-color);
    padding: 10px 15px;
}

.app-footer {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.app-footer_link-list {
    text-decoration: underline;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
}

.app-footer_link {
    margin-top: 5px;
    transition: all .2s ease-in-out;
}

.app-footer_link:hover {
    color: #c1c1c1;
}

.app-footer_link:first-child {
    margin-top: 0;
}