.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-main-color);
    min-height: 100vh;
}

.page-main {
    width: 100%;
    margin: 15px 0;
    flex-grow: 1;
}

.search-input {
    padding: 6px 35px 6px 6px;
    border-radius: 5px;
    font-style: inherit;
    font-size: inherit;
}

.search-input_wrapper {
    float: right;
    position: relative;
}

.search-input_icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 23px;
    height: 23px;
}