.dropdown_header {
    display: inline-block;
    text-align: center;
    min-width: 100%;
}

.dropdown_wrapper {
    position: relative;
}

.dropdown_list-content {
    position: absolute;
    top: 105%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_content-list-item {
    display: block;
    color: black;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

.dropdown_content-list-item:hover {
    background-color: #f1f1f1;
}

.dropdown_wrapper--main-navbar-category-droppdown {
    background: #4BA842;
    padding: 10px 5px;
    width: 20%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
}