.app-header-wrapper {
    background-color: var(--header-main-color);
    padding: 10px;
    width: 100%;
}

.app-header-navs {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.app-header_link-list {
    display: flex;
    gap: 10px;
}

.app-header-user-section {
    display: flex;
    gap: 10px;
}

.app-header_link-list-item,
.app-header-user-section-item {
    cursor: pointer;
}