.sorting {
    width: 100%;
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid lightgray;
    border-radius: 3px;
    text-align: end;
    margin-left: auto;
    padding: 10px 5px;
}

.sorting_label {
    margin-right: 10px;
}

.sort_select {
    width: 200px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.sort_select:focus {
    outline: 2px solid green;
}

.sort_select option {
    padding: 10px;
    font-size: 14px;
    background-color: #fff;
    color: #000;
}

/* Adding a hover effect for options */
.sort_select option:hover {
    background-color: #f0f0f0;
}

.sort_option.unvisible {
    display: none;
}

.sort_option {
    cursor: pointer;
}